/* home */
.masthead .btn-us{
  background-color: #c7363b;
  color:  #fff;
}
.masthead .btn-us:hover{
  background-color: #c1131e;
}
.masthead .divider-red,
#services .divider-red,
#contact .divider-red{
  border-color: #c7363b;
}
.icon-fightings{
  background-image: url("../img/icons/icon-figthing.png");
  height: 80px;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 1.5rem;
}
.icon-shooters{
  background-image: url("../img/icons/icon-shooter.png");
  height: 80px;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 1.5rem;
}
.icon-mobas{
  background-image: url("../img/icons/icon-moba.png");
  height: 80px;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 1.5rem;
}
.row{
  justify-content: center;
}
.bg-welcome{
  background-color: #c7363b !important;
}
.bg-ligues,
.bg-games{
  background-color: #f7f7f7 !important;
}
.row .contact-info > a{
  color: #c7363b;
}

/* login y signin*/
.mg-0{margin: 0;}
.container-primary{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #ebebeb;
}
.content-primary{
  flex: 1;
  max-width: 400px;
  background: #fff;
  padding: 30px;
  border-radius: 8px;
}
.content-secondary{
  flex: 1;
  max-width: 600px;
  background: #fff;
  padding: 30px;
  border-radius: 8px;
}
.btn-primary{
  display: block;
  width: 100%;
  max-width: 250px;
  min-height: 44px;
  background: #c7363b;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  padding: 10px 20px;
  margin: 10px auto;
  border: none;
  border-radius: 8px;
  transition: 0.7s;
}
.btn-primary:hover{
  background: #ffffff;
  color: #c7363b;
  text-decoration: none;
  box-shadow: 2px 3px 7px #000;
}
.btn-primary:active{
  background: #ffffff !important;
  color: #c7363b !important;
  text-decoration: none;
  box-shadow: 2px 3px 7px #000;
  border: none !important;
}
.btn-primary:active:focus{
  box-shadow: 2px 3px 7px #000 !important;
}
.input-primary{
  background: transparent;
  color: #6b7685;
  border: none;
  border-bottom: 1px solid #c7363b;
  outline: none;
  padding: 10px 0;
  margin: 0 0 30px;
}
.input-primary::placeholder{
  color: #6b7685;
}
.font-primary{
  color: #c7363b;
}
.font-secondary{
  color: #6b7685;
}
.link{
  color: #c7363b;
  font-weight: 700;
}
.link:hover{
  color: #c7363b;
  text-decoration: none;
  opacity: 0.8;
}
input,
select{
  width: 100%;
  height: 45px;
  padding: 10px;
  margin: 5px auto;
}
.carousel-item {
  max-height: 500px;
}
.carousel-item img {
  object-fit: contain;
  max-height: 500px;
}
.input-email,
.input-id-number,
.input-pwd-confirm{
  position: relative;
}
.input-email.icon-valid::before,
.input-id-number.icon-valid::before,
.input-pwd-confirm.icon-valid::before{
  content: "";
  display: block;
  background-image: url("../img/icons/valid-icon.svg");
  width: 20px;
  height: 15px;
  position: absolute;
  top: 17px;
  right: 20px;
}
.msg-error{
  color: #c7363b;
  font-size: 15px;
  text-align: center;
  font-weight: 700;
}
.ranking-container,
.faq-container{
  display: flex;
  justify-content: center;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  padding: 40px 0 10px;
}
.faq-container p{
  font-weight: bold;
  margin: 10px 0;
  border-bottom: 1px solid #fff;
  padding-bottom: 5px;
}
.ranking-container .ranking-search{
  margin: 0 auto;
}
.ranking-content .search{
  display: flex;
}
.ranking-content .search .search-select{
  margin: 0 5px;
}
.ranking-search .content-btn-ranking-search{
  max-width: 300px;
  margin: 20px auto;
}
.content-ranking-table .ranking-table{
  color: #ffffff;
}
.ranking-container .ranking-title{
  color: #ffffff;
  text-align: center;
}
.dropdown-item-profile{
  font-size: 14px;
  font-weight: 700;
  background: #c7363b;
}
.dropdown-item-profile a{
  color: #ffffff;
}
.ranking-container .ranking-table{
  padding: 10px 30px;
}
.lol-container,
.valorant-container,
.smash-container{
  display: flex;
  padding: 40px 10px;
}
.lol-container .lol-content-game-logo{
  flex: 30%;
  background-image: url("../img/portfolio/thumbnails/League_of_legends_logo_transparent.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.lol-container .lol-content-info{
  flex: 50%;
  color: #fff;
  text-align: justify;
  padding: 0 30px;
}
.lol-container .lol-content-esportsuac-logo{
  flex: 20%;
  display: flex;
  align-items: flex-end;
}
.lol-content-esportsuac-logo img,
.valorant-content-esportsuac-logo img,
.smash-content-esportsuac-logo img{
  width: 100%;
  padding: 0 20px;
}
.valorant-container .valorant-content-game-logo{
  flex: 30%;
  background-image: url("../img/portfolio/thumbnails/V_Logotype_Red-1024x576-1024x576.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.valorant-container .valorant-content-info{
  flex: 50%;
  color: #fff;
  text-align: justify;
  padding: 0 30px;
}
.valorant-container .valorant-content-esportsuac-logo{
  flex: 20%;
  display: flex;
  align-items: flex-end;
}
.smash-container .smash-content-game-logo{
  flex: 30%;
  background-image: url("../img/portfolio/thumbnails/640px-Super_Smash_Bros._Ultimate_logo.svg.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.smash-container .smash-content-info{
  flex: 50%;
  color: #fff;
  text-align: justify;
  padding: 0 30px;
}
.smash-container .smash-content-esportsuac-logo{
  flex: 20%;
  display: flex;
  align-items: flex-end;
}
.faq-container .faq-content-game-logo{
  flex: 30%;
  /*background-image: url("../img/portfolio/thumbnails/640px-Super_Smash_Bros._Ultimate_logo.svg.png");*/
  background-size: contain;
  background-repeat: no-repeat;
}
.faq-container .faq-content-info{
  max-width: 800px;
  color: #fff;
  text-align: justify;
  padding: 0;
}
.faq-container .faq-content-esportsuac-logo{
  flex: 20%;
  display: flex;
  align-items: flex-end;
}
.not-wanted{
  font-size: 14px;
  color: #c7363b;
  font-weight: 700;
  font-style: italic;
}
.form-signin-content{
  display: flex;
  flex-wrap: wrap;
}
.form-signin-content .form-group{
  flex: 50%;
  padding: 0 5px;
  margin: 0;
}
.form-signin-content .form-group.input-email,
.form-signin-content .content-btn-form-sign,
.form-sign-login-in{
  flex: 100%;
}
.email-info{
  font-size: 12px;
  color: #6b7685;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 1px;
  margin: 0;
  padding-top: 10px;
  text-align: justify;
}
/* Medias Query */
@media (min-width: 768px){
  #recover-password-content .form-recover-password,
  #code-content .form-code{
    max-width: 600px;
    padding-left: 85px;
    padding-right: 85px;
  }
  #signin-content .form-signin{
    max-width: 750px;
    padding-left: 70px;
    padding-right: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .ranking-container .ranking-search{
    max-width: 700px;
  }
}
@media (max-width:767px){
  #signin-content .form-signin,
  #recover-password-content .form-recover-password,
  #code-content .form-code,
  .ranking-container .ranking-search{
    max-width: none;
    padding:  20px;
  }
}
@media (max-width:1279px){
  .lol-container,
  .valorant-container,
  .smash-container{
    flex-direction: column;
  }
  .lol-content-esportsuac-logo img,
  .valorant-content-esportsuac-logo img,
  .smash-content-esportsuac-logo img{
    max-width: 300px;
    margin: 0 auto;
  }
  .lol-container .lol-content-game-logo,
  .valorant-container .valorant-content-game-logo,
  .smash-container .smash-content-game-logo{
    flex: none;
    height: 150px;
    background-position: center;
  }

}
